{:cljs-version "1.9.293"
 :builds
 {:main
  {:src "src-cljs"
   :compiler
   {:target :nodejs
    :optimizations :simple
    :language-in :ecmascript5
    :language-out :ecmascript5
    :hashbang false
    :output-dir "out-cljs"
    :output-to "out/extension.js"}}}}